
extends layout

block content
	div.container-fluid
		div.row
			main.col-sm-9.ml-sm-auto.col-md-10.pt-3
				section.row.text-center.placeholders
					nav.navbar.navbar-default.navbar-fixed-top
						.container
							.navbar-header
								.navbar-brand #{artistName + "'s Songs"}
							ul.nav.navbar-nav.navbar-right
								li
									.navbar-btn#btn-home.btn.btn-default
										a(href="/home")
											| Home
									.navbar-btn#btn-logout.btn.btn-default
										| Sign Out
				br
				br
				br
				div.table-responsive
					table.table.table-striped
						thead
							tr
								th Song Name
								th Artist Name
								th Album Name
						tbody
							each item in songData
								tr
									td= item.songName
									td= item.artistName
									td= item.albumName

	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/artist.js')
	script(src='/js/controllers/homeController.js')
