
extends layout

block content
	div.container-fluid
		div.row
			main.col-sm-9.ml-sm-auto.col-md-10.pt-3
				section.row.text-center.placeholders
					nav.navbar.navbar-default.navbar-fixed-top
						.container
							.navbar-header
								.navbar-brand
									h4 GANA
							ul.nav.navbar-nav.navbar-right
								li
									.navbar-btn#btn-home.btn.btn-default
										a(href="/home")
											| Home
									.navbar-btn#btn-home.btn.btn-default
										a(href="/addplaylist")
											| My PlayList
									.navbar-btn#search-home.btn.btn-default
										a(href="/search")
											| Search songs
									.navbar-btn#btn-logout.btn.btn-default
										| Sign Out
				br
				br
				br
				h4 Search for an Artist, Song, Album or Playlist
				
				input.form-control#search-tf(type='text', name='search', value='',placeholder="Search Tracks")
				button(type='button')#search-btn1.btn.btn-default search
				br
				br

				div.nav
					#[a(href="#" id="topres") Top Result]
					#[a(href="#" id="artist") Artist]
					#[a(href="#" id="track") Tracks]
					#[a(href="#" id="album") Album]
					#[a(href="#" id="playlist") PlayList]
				br
				div#searchres
				div#artistres
				div#trackres
				div#albumres
				div#plres

	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/search.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	link(href='/css/style1.css', rel='stylesheet')
